[build-system]
requires = ["setuptools >= 64"]

[project]
name = "antimeridian"
version = "0.2.3"
authors = [
    {name = "Pete Gadomski", email = "pete.gadomski@gmail.com"}
]
description = "Fix GeoJSON geometries that cross the antimeridian"
readme = "README.md"
requires-python = ">=3.8"
keywords = ["geojson", "antimeridian", "shapely"]
license = {text = "Apache-2.0"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Development Status :: 4 - Beta",
]
dependencies = [
    "shapely>=1.8"
]

[project.urls]
documentation = "https://antimeridian.readthedocs.io"
repository = "https://github.com/gadomski/antimeridan"
changelog = "https://github.com/gadomski/antimeridian/blob/main/CHANGELOG.md"

[project.optional-dependencies]
cli = [
    "click~=8.1"
]
dev = [
    "black~=23.3",
    "mypy~=1.2",
    "pre-commit~=3.2",
    "pytest~=7.3",
    "pytest-console-scripts~=1.3",
    "ruff==0.0.263",
]
docs = [
    "cartopy~=0.21",
    "ipykernel~=6.22",
    "jupytext~=1.14",
    "nbsphinx~=0.9",
    "pydata-sphinx-theme~=0.13",
    "scipy~=1.10",
    "sphinx~=6.1",
    "sphinx-click~=4.4",
]

[project.scripts]
antimeridian = "antimeridian._cli:cli"

[tool.mypy]
strict = true

[[tool.mypy.overrides]]
module = ["shapely", "shapely.geometry"]
ignore_missing_imports = true
