[build-system]
requires = ["setuptools >= 64"]

[project]
name = "antimeridian"
version = "0.0.2.post0"
authors = [
    {name = "Pete Gadomski", email = "pete.gadomski@gmail.com"}
]
description = "Fix GeoJSON geometries that cross the antimeridian"
readme = "README.md"
requires-python = ">=3.8"
keywords = ["geojson", "antimeridian", "shapely"]
license = {text = "Apache-2.0"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Development Status :: 4 - Beta",
]
dependencies = [
    "shapely>=1.8"
]

[project.optional-dependencies]
dev = [
    "black~=23.3",
    "mypy~=1.2",
    "pre-commit~=3.2",
    "pytest~=7.3",
    "ruff==0.0.261",
]
docs = [
    "pydata-sphinx-theme~=0.13",
    "sphinx~=6.1",
]

[project.scripts]
fix-antimeridian = "antimeridian:main"

[tool.mypy]
strict = true

[[tool.mypy.overrides]]
module = ["shapely", "shapely.geometry"]
ignore_missing_imports = true
