[project]
name = "antimeridian"
version = "0.3.6"
authors = [{ name = "Pete Gadomski", email = "pete.gadomski@gmail.com" }]
description = "Fix GeoJSON geometries that cross the antimeridian"
readme = "README.md"
requires-python = ">=3.8"
keywords = ["geojson", "antimeridian", "shapely"]
license = { text = "Apache-2.0" }
classifiers = [
    "Programming Language :: Python :: 3",
    "Development Status :: 4 - Beta",
]
dependencies = ["numpy>=1.17.4", "shapely>=2.0"]

[project.urls]
Documentation = "https://antimeridian.readthedocs.io"
Github = "https://github.com/gadomski/antimeridian"
Changelog = "https://github.com/gadomski/antimeridian/blob/main/CHANGELOG.md"

[project.optional-dependencies]
cli = ["click~=8.1.6"]
dev = [
    "mypy~=1.2",
    "packaging~=24.0",
    "pre-commit~=3.2",
    "pytest~=8.0",
    "pytest-console-scripts~=1.3",
    "ruff~=0.4.2",
    "tomli~=2.0; python_version<'3.11'",
    "typing_extensions; python_version<'3.10'",
]
docs = [
    "cartopy~=0.21",
    "ipykernel~=6.22",
    "jupytext~=1.14",
    "nbsphinx~=0.9",
    "pydata-sphinx-theme~=0.13",
    "scipy~=1.12",
    "sphinx~=7.0",
    "sphinx-click~=5.0",
]

[project.scripts]
antimeridian = "antimeridian._cli:cli"

[tool.mypy]
strict = true

[[tool.mypy.overrides]]
module = [
    "shapely",
    "shapely.geometry",
    "shapely.affinity",
    "shapely.validation",
]
ignore_missing_imports = true

[tool.pytest.ini_options]
filterwarnings = ["error"]

[tool.ruff]
lint.select = ["F", "E", "W", "I", "ERA", "RUF"]

[build-system]
requires = ["setuptools >= 64"]
